<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AbstractFactory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Adapter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Bridge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Builder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ChainOfResponsibility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Composite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Decorator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Facade.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>FactoryMethod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Flyweight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Prototype.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Proxy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Singleton.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE30FBEC24280F54008A3899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE43C698240C1ECB00035782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE43C6A5240C1EE300035782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE43C6B1240C1EED00035782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE43C6BD240C1EF500035782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE8B8960245F757F00CBA22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE8B8974245F7E2200CBA22E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB3CEF0240C2D3900BB86B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB3CF03240C31E300BB86B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB3CF1D240C365B00BB86B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEBB85C62477150F00C9DA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC1B82624150F4E00413092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC1B83A24151E9200413092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
